<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.tran.model.Tran" alias="Tran" />
    </typeAliases>

    <typeHandlers>
        <!--<typeHandler handler="com.utils.ArrayTypeHandler" javaType="[Ljava.lang.String;"/>-->
    </typeHandlers>

    <mappers>
        <mapper resource="mybatis/flowMapper.xml"/>
        <mapper resource="mybatis/tranMapper.xml" />
    </mappers>
</configuration>